#follow_button {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 30px;
	width: 100px;
	text-align: right;
}

#about_mytwits_button {
	position: absolute;
	top: 65px;
	right: 20px;
	height: 30px;
	width: 100px;
	text-align: right;
}
