@import "/static/styles/shadows.css";
@import "/static/styles/button_styles.css";

* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

html {
}

body {
	background: url("/static/images/darkstyle/dark_bg_small.jpg") repeat #202629;
}
a {
	color: #940000;
	text-decoration: none;
}
a:hover {
	color: #6d0000;
}

#container {
	position: absolute;
	width: auto ! important;
	width: 100%;
	overflow-x: hidden;
	min-width: 100%;
	height: 100%;
	background: url("/static/images/darkstyle/dark_bg.jpg") repeat-x;
}
#wrapper {
	background: #7d7d7d;
	margin: 10px auto;
	position: relative;
	width: 1000px;
	min-height: 100%;
	padding-bottom: 200px;
}

#header {
	top: 22px;
	position: absolute;
	height: 113px;
	width: 100%;
	background: #8a8a8a;
}
#title {
	position: absolute;
	top: 23px;
	left: 35px;
	height: 70px;
	width: 294px;
	background: url("/static/images/darkstyle/title.png") no-repeat;
}
#search_form {
	position: relative;
	top: 150px;
	border: none;
	padding: 10px;
	margin: 5px;
/*	background: #707070;*/
}
#search_form .search_input {
	position: relative;
	background: #e3e3e3;
	border: 0;
	outline: none;
	height: 25px;
	font-size: 14px;
	padding: 0 5px;
	width: 930px;
	font-family: monospace;
	color: #6d4f00;
}
#search_form #search_submit {
	position: absolute;
	top: 10px;
	right: 10px;
}

#content {
	top: 150px;
	position: relative;
	margin: 5px;
	padding: 10px;
}

.twit {
	margin: 10px 0;
	background: #d4d4d4;
	color: black;
	padding: 5px;
	font-family: sans-serif;
	font-size: 11pt;
	position: relative;
}

.twit:hover {
	background: #e6e3d3;
}

.twit .profile_block {
	width: 100%;
	position: relative;
	background: #c8c8c8;
}

.twit .profile_block .profile_img {
	display: block;
	width: 40px;
	height: 40px;
	border: 0;
}

.twit:hover .profile_block {
	background: #d9d4b5;
}

.twit .profile_block .from_to {
	position: absolute;
	top: 5px;
	left: 50px;
	height: 30px;
	width: 900px;
	line-height: 30px;
	vertical-align: middle;
	overflow: hidden;
	color: #856100;
}
.twit .profile_block .from_to span {
	display: inline-block;
	color: #828282;
	font-size: 9pt;
}
.twit .profile_block .from_to span a{
	font-size: 11pt;
}
.twit .profile_block .from_to span .gt{
	color: #940000;
}
.twit .twit_text {
	padding: 10px 0;
	color: #4d3800;
}
.twit .twit_date {
	font-size: 10pt;
	color: #8f8f8f;
}
.twit .twit_buttons {
	padding: 10px 0 0;
	list-style: none;
			
}
.twit .twit_buttons li {
	display: inline-block;
	background: #c8c8c8;
}
.twit:hover .twit_buttons li {
	background: #d9d4b5;
}	
.twit .twit_buttons li:hover {
	background: #cdc7a8;	
}
.twit .twit_buttons li .button_link {
	display: block;
	padding: 5px 15px;
}
.twit .right_shadow,  .twit .left_shadow {
	display: none;
	top: 0px;
}
.twit .top_shadow, .twit .bottom_shadow {
	display: none;
	left: 0px;
}
.twit .shadow {
	display: none;
}
.twit:hover .shadow {
	display: block;
}
.twit .twit_link {
	color: inherit;
}

#load_twits {
	width: 100%;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	color: #4d3800;
	background: #d4d4d4;
	cursor: pointer;
}
#load_twits:hover {
	background: #e6e3d3;	
}
.parameter {
	display: none;
}
#load_twits #load_twits_text {
	font-family: sans-serif;	
}
#load_twits #load_twits_gif {
	display: none;
	position: relative;
}
#load_twits #load_twits_gif img {
	height: 40px;
	width: 140px;
}
