/*
 *shadows
 * */

.right_shadow, .left_shadow {
	position: absolute;
	width: 9px;
	height: 100%;
	background: repeat-y;
}

.left_shadow {
	left: -9px;
	background: url("/static/images/left_shadow.png");
}

.right_shadow {
	right: -9px;
	background: url("/static/images/right_shadow.png");
}

.top_shadow, .bottom_shadow {
	position: absolute;
	width: 100%;
	height: 9px;
	background: repeat-x;
}

.top_shadow {
	top: -9px;
	background: url("/static/images/top_shadow.png");
}

.bottom_shadow {
	bottom: -9px;
	background: url("/static/images/bottom_shadow.png");
}

.left_top_shadow, .right_top_shadow, .left_bottom_shadow, .right_bottom_shadow {
	position: absolute;
	height: 9px;
	width: 9px;
	background: url("/static/images/angle_shadow.png")
}

.left_top_shadow {
	background-position: 0 0;
	left: -9px;
	top: -9px;
}

.right_top_shadow {
	background-position: -9px 0;
	right: -9px;
	top: -9px;
}

.left_bottom_shadow {
	background-position: 0 -9px;
	left: -9px;
	bottom: -9px;
}

.right_bottom_shadow {
	background-position: -9px -9px;
	right: -9px;
	bottom: -9px;
}