<div class="right_shadow shadow"></div>
<div class="left_shadow shadow"></div>
<div class="top_shadow shadow"></div>
<div class="bottom_shadow shadow"></div>
<div class="right_top_shadow shadow"></div>
<div class="left_bottom_shadow shadow"></div>
<div class="right_bottom_shadow shadow"></div>
<div class="left_top_shadow shadow"></div>